// body {
//   background-color: green;
// }

h1 {
  display: inline-block;
}
div {
  padding-top: 240px;
  padding-left: 540px;

}

#hours {
  color: white;
  font-size: 100px;
    &:before{
    content: "#";
  }
}

#minutes {
  color: white;
  font-size: 100px;
}

#seconds {
  color: white;
  font-size: 100px;
}